<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FurnitureOnline</display-name>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/furnituredb</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>samwise5535</param-value>
  </context-param>
  <servlet>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>com.woodies.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FurnitureListServlet</servlet-name>
    <servlet-class>com.woodies.FurnitureListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurnitureListServlet</servlet-name>
    <url-pattern>/FurnitureListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.woodies.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.woodies.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.woodies.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.woodies.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>